= form_for @player, html: { class: "form-horizontal", role: "form" } do |f|
  -if @player.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@player.errors.count, "error")} prohibited this player from being saved:"

      %ul
        - @player.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'

  .form-group
    .col-sm-10.col-sm-offset-2
      %ul.list-group
        = f.collection_check_boxes :team_ids, Team.all, :id, :name do |box|
          %li.list-group-item
            = box.check_box
            = box.object.name

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
